html { font-size: 62.5%; }

* > * {
    box-sizing: border-box;
    margin-top: 0;
}


// Breakpoints
$x-large: 1200px;
$breakpoint: $x-large;


// Colors

// Primary
$red: hsl(0 78% 62%);
$cyan: hsl(180 62% 55%);
$orange: hsl(34 97% 64%);
$blue: hsl(212 86% 64%);

// Neutral
$very-dark-blue: hsl(234 12% 34%);
$grayish-blue: hsl(229 6% 66%);
$very-light-gray: hsl(0 0% 98%);


// Fonts
$font-stack: 'Poppins', sans-serif;
$extra-light: 200;
$regular: 400;
$semi-bold: 600;

@mixin font ($size, $weight, $color) {
  font: {
    family: $font-stack;
    size: $size;
    weight: $weight;
  }
  color: $color;
}


body {
  margin: 0;
  background-color: $very-light-gray;
}

$card-width-mobile: 31.2rem;
$card-height-mobile: 22.2rem;
$card-width_desktop: 34.8rem;
$card-height-desktop: 25rem;

.wrapper {
  margin: 8.4rem auto;
  width: $card-width-mobile;

  @media screen and (min-width: $breakpoint) {
    margin-top: 7.9rem;
    width: auto;
  }
}

.sub-heading {
  margin-bottom: -.1rem;
  text-align: center;
  @include font(2.45rem, $extra-light, $very-dark-blue);

  @media screen and (min-width: $breakpoint) {
    margin-bottom: -.5rem;
    font-size: 3.66rem;
  }
}

.heading {
  text-align: center;
  @include font(2.45rem, $semi-bold, $very-dark-blue);

  @media screen and (min-width: $breakpoint) {
    margin-bottom: 1.5rem;
    font-size: 3.65rem;
  }
}

.copy {
  margin-bottom: 7.5rem;
  text-align: center;
  @include font(1.51rem, $regular, $grayish-blue);
  line-height: 1.63;

  @media screen and (min-width: $breakpoint) {
    max-width: 55rem;
    margin: 0 auto 6.4rem;
  }
}

.outer-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.4rem;

  @media screen and (min-width: $breakpoint) {
    flex-direction: row;
    justify-content: center;
    gap: 3.2rem;
  }
}

.inner-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;

  @media screen and (min-width: $breakpoint) {
    gap: 2.8rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: $card-width-mobile;
  height: $card-height-mobile;
  padding: 2.2rem 3rem 2.7rem 2.9rem;

  background-color: white;
  border-radius: .5rem;
  border-top: .4rem solid;

  @media screen and (min-width: $breakpoint) {
    width: $card-width_desktop;
    height: $card-height-desktop;
    padding: 2.7rem 3.1rem 3.3rem;
  }

  &--start-end {
    @media screen and (min-width: $breakpoint) {
      align-self: center;  
    }
  }

  &--1 {
    border-color: $cyan;
  }

  &--2 {
    border-color: $red;
  }

  &--3 {
    border-color: $orange;
  }

  &--4 {
    border-color: $blue;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__title {
    margin-bottom: .55rem;
    text-align: left;
    @include font(2rem, $semi-bold, $very-dark-blue);

    @media screen and (min-width: $breakpoint) {
      margin-bottom: 0.8rem;
    }
  }

  &__copy {
    text-align: left;
    @include font(1.32rem, $regular, $grayish-blue);

    @media screen and (min-width: $breakpoint) {
      margin-bottom: .7rem;
      line-height: 1.8;
    }
  }

  &__img {
    display: block;
    align-self: flex-end;
    width: 5.7rem;
    height: auto;

    @media screen and (min-width: $breakpoint) {
      width: 6.4rem;
    }
  }
}


// Footer

.attribution {
    text-align: center;
    font-size: 1.1rem;  
}

.attribution a { color: hsl(228 45% 44%); }


// Development redefinition level

body {
  background: {
    image: url("./design/mobile-design.jpg");
    repeat: no-repeat;
    position: left top;
    size: 37.5rem auto;
  }

  @media screen and (min-width: $breakpoint) {
    background: {
      image: url("./design/desktop-design.jpg");
      size: 144rem auto;
    };
  }
}

.wrapper {
  opacity: .5;
}
