html { font-size: 62.5%; }

* > * {
    box-sizing: border-box;
    margin-top: 0;
}


// Breakpoints
$x-large: 1200px;
$breakpoint: $x-large;


// Colors

// Primary
$red: hsl(0 78% 62%);
$cyan: hsl(180 62% 55%);
$orange: hsl(34 97% 64%);
$blue: hsl(212 86% 64%);

// Neutral
$very-dark-blue: hsl(234 12% 34%);
$grayish-blue: hsl(229 6% 66%);
$very-light-gray: hsl(0 0% 98%);


// Fonts
$font-stack: 'Poppins', sans-serif;
$extra-light: 200;
$regular: 400;
$semi-bold: 600;

@mixin font ($size, $weight, $color) {
  font: {
    family: $font-stack;
    size: $size;
    weight: $weight;
  }
  color: $color;
}

%body-structure { margin: 0; }

body {
  @extend %body-structure;
  background-color: $very-light-gray;
}

$card-width-mobile: 31.2rem;
$card-height-mobile: 22.2rem;
$card-width_desktop: 34.8rem;
$card-height-desktop: 25rem;

.wrapper {
  margin: 8.4rem auto;
  width: $card-width-mobile;

  @media screen and (min-width: $breakpoint) {
    margin-top: 7.9rem;
    width: auto;
  }
}

%sub-heading-structure {
  margin-bottom: -.1rem;

  @media screen and (min-width: $breakpoint) { margin-bottom: -.5rem; }
}

.sub-heading {
  @extend %sub-heading-structure;
  @include font(2.45rem, $extra-light, $very-dark-blue);
  text-align: center;

  @media screen and (min-width: $breakpoint) { font-size: 3.66rem; }
}

%heading-structure {
  @media screen and (min-width: $breakpoint) { margin-bottom: 1.5rem; }
}

.heading {
  @extend %heading-structure;
  @include font(2.45rem, $semi-bold, $very-dark-blue);
  text-align: center;

  @media screen and (min-width: $breakpoint) { font-size: 3.65rem; }
}

%copy-structure {
  margin-bottom: 7.5rem;

  @media screen and (min-width: $breakpoint) {
    margin: 0 auto 6.4rem;
    max-width: 55rem;
  }
}

.copy {
  @extend %copy-structure;
  @include font(1.51rem, $regular, $grayish-blue);
  text-align: center;
  line-height: 1.63;
}

%flex-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;  
}

.outer-card-container {
  @extend %flex-col;
  gap: 2.4rem;

  @media screen and (min-width: $breakpoint) {
    flex-direction: row;
    justify-content: center;
    gap: 3.2rem;
  }
}

.inner-card-container {
  @extend %flex-col;
  gap: 2.4rem;

  @media screen and (min-width: $breakpoint) { gap: 2.8rem; }
}

%card-structure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 

  padding: 2.2rem 3rem 2.7rem 2.9rem;
  width: $card-width-mobile;
  height: $card-height-mobile;

  @media screen and (min-width: $breakpoint) {
    width: $card-width_desktop;
    height: $card-height-desktop;
    padding: 2.7rem 3.1rem 3.3rem;
  }
}

.card {
  @extend %card-structure;

  border-radius: .5rem;
  border-top: .4rem solid;
  box-shadow: 0 .75rem 1.75rem $grayish-blue;
  background-color: white;

  &--start-end {
    @media screen and (min-width: $breakpoint) { align-self: center; }
  }

  &--1 { border-color: $cyan; }

  &--2 { border-color: $red; }

  &--3 { border-color: $orange; }

  &--4 { border-color: $blue; }

  &__title-structure {
    margin-bottom: .55rem;

    @media screen and (min-width: $breakpoint) { margin-bottom: 0.8rem; }
  }

  &__title {
    @extend .card__title-structure;
    @include font(2rem, $semi-bold, $very-dark-blue);
    text-align: left;
  }

  &__copy-structure {
    @media screen and (min-width: $breakpoint) { margin-bottom: .7rem; }
  }

  &__copy {
    @extend .card__copy-structure;
    @include font(1.32rem, $regular, $grayish-blue);
    text-align: left;

    @media screen and (min-width: $breakpoint) { line-height: 1.8; }
  }

  &__img-structure {
    display: block;
    align-self: flex-end;
  }

  &__img {
    @extend .card__img-structure;
    width: 5.7rem;
    height: auto;

    @media screen and (min-width: $breakpoint) { width: 6.4rem; }
  }
}


// Footer

.attribution {
    text-align: center;
    font-size: 1.1rem;  
}

.attribution a { color: hsl(228 45% 44%); }
