html {
  font-size: 62.5%;
}

* > * {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  margin: 0;
}

body {
  background-color: hsl(0, 0%, 98%);
}

.wrapper {
  margin: 8.4rem auto;
  width: 31.2rem;
}
@media screen and (min-width: 1200px) {
  .wrapper {
    margin-top: 7.9rem;
    width: auto;
  }
}

.sub-heading {
  margin-bottom: -0.1rem;
}
@media screen and (min-width: 1200px) {
  .sub-heading {
    margin-bottom: -0.5rem;
  }
}

.sub-heading {
  font-family: "Poppins", sans-serif;
  font-size: 2.45rem;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .sub-heading {
    font-size: 3.66rem;
  }
}

@media screen and (min-width: 1200px) {
  .heading {
    margin-bottom: 1.5rem;
  }
}

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 2.45rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .heading {
    font-size: 3.65rem;
  }
}

.copy {
  margin-bottom: 7.5rem;
}
@media screen and (min-width: 1200px) {
  .copy {
    margin: 0 auto 6.4rem;
    max-width: 55rem;
  }
}

.copy {
  font-family: "Poppins", sans-serif;
  font-size: 1.51rem;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
  text-align: center;
  line-height: 1.63;
}

.inner-card-container, .outer-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.outer-card-container {
  gap: 2.4rem;
}
@media screen and (min-width: 1200px) {
  .outer-card-container {
    flex-direction: row;
    justify-content: center;
    gap: 3.2rem;
  }
}

.inner-card-container {
  gap: 2.4rem;
}
@media screen and (min-width: 1200px) {
  .inner-card-container {
    gap: 2.8rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 3rem 2.7rem 2.9rem;
  width: 31.2rem;
  height: 22.2rem;
}
@media screen and (min-width: 1200px) {
  .card {
    width: 34.8rem;
    height: 25rem;
    padding: 2.7rem 3.1rem 3.3rem;
  }
}

.card {
  border-radius: 0.5rem;
  border-top: 0.4rem solid;
  box-shadow: 0 0.75rem 1.75rem hsl(229, 6%, 66%);
  background-color: white;
}
@media screen and (min-width: 1200px) {
  .card--start-end {
    align-self: center;
  }
}
.card--1 {
  border-color: hsl(180, 62%, 55%);
}
.card--2 {
  border-color: hsl(0, 78%, 62%);
}
.card--3 {
  border-color: hsl(34, 97%, 64%);
}
.card--4 {
  border-color: hsl(212, 86%, 64%);
}
.card__title-structure, .card__title {
  margin-bottom: 0.55rem;
}
@media screen and (min-width: 1200px) {
  .card__title-structure, .card__title {
    margin-bottom: 0.8rem;
  }
}
.card__title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .card__copy-structure, .card__copy {
    margin-bottom: 0.7rem;
  }
}
.card__copy {
  font-family: "Poppins", sans-serif;
  font-size: 1.32rem;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .card__copy {
    line-height: 1.8;
  }
}
.card__img-structure, .card__img {
  display: block;
  align-self: flex-end;
}
.card__img {
  width: 5.7rem;
  height: auto;
}
@media screen and (min-width: 1200px) {
  .card__img {
    width: 6.4rem;
  }
}

.attribution {
  text-align: center;
  font-size: 1.1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*# sourceMappingURL=styles.css.map */
